* {
  margin: 0;
  padding: 0;
  font-family: azeret mono;
  scroll-behavior: smooth;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 30px;
}

nav .container {
  display: flex;
  justify-content: space-between;
  height: 130px;
  align-items: center;
}

nav .logo {
  font-size: 28px;
  font-weight: bolder;
}

.right a {
  color: gray;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  border: 1px solid black;
  border-radius: 10px;
  padding: 17px;
}

.banner {
  background-image: url(assets/Hero-bg.png);
  width: 100%;
  margin-bottom: 70px;

}

.banner .container {
  height: 652px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 30px;
}

.banner .container h1 {
  max-width: 998px;
}

.banner .container p {
  max-width: 998px;
  margin-bottom: 32px;
}

.banner a {
  color: white;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  border: 1px solid black;
  padding: 21px 24px;
  background-color: rgb(13, 19, 33);
  border-radius: 10px;
}

.banner img {
  height: 240px;
  width: 240px;
}

#wishes-body .container {
  background-color: rgb(250, 250, 251);
  text-align: center;
}



main .caption h2 {
  margin-bottom: 24px;
  color: gray;
}

.caption {
  max-width: 852px;
  margin: 0 auto 48px;
  text-align: center;
}

.wishes {
  max-width: 945px;
  padding: 80px 97px;
  margin-bottom: 90px;
}

.card-1 .texts {
  max-width: 850px;

}

.texts .title {
  color: #0D1321;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 16px;
}

.card-texts {
  color: #0D1321;
  margin-bottom: 32px;
}

.texts .btn {
  text-decoration: none;
  font-size: 20px;
  color: #0D1321;
  font-weight: 600;
  border: 1px solid black;
  padding: 12px 20px;
}

.card-1 .texts {
  text-align: left;
  max-width: 477px;
}

.card-1 {
  display: flex;
  justify-content: space-between;
}

.card-1 .image img {
  max-width: 275px;
  height: 240px;
}

.box-card {
  background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(250, 250, 251));
  padding: 48px;
  margin-bottom: 32px;
}

.reverse {
  flex-direction: row-reverse;
}

.margin {
  margin-bottom: 32px;
  background-image: linear-gradient(to left, rgb(255, 255, 255), rgb(250, 250, 251));
}
iframe{
  width: 100%;
  height: 550px;
  box-sizing: border-box;
  border-radius: 15px;
  overflow: hidden;
}
.video{
  border: 1px solid rgba(13,19,33,0.2);
  border-radius: 15px;
  overflow: hidden;
  padding: 32px;
  margin-bottom: 150px;
}
.target h3{
  font-size: 32px;
  font-weight: bold;
}
.skill img{
  width: 56px;
  height: 56px;
  margin-bottom: 24px;
}
.words{
  margin-bottom: 24px;
}
.cap{
  font-weight: bolder;
  font-size: 24px;
  margin-bottom: 8px;
}
.skill a{
  font-weight: bold;
  color: #0D1321;
}
.skill-card{
  padding: 40px;
  background-color: rgb(255,246,244);
  max-width: 364px;
  border-radius: 15px;
  
}

.target-cards{
  display: flex;
  justify-content: space-between;
  gap: 24px;
  margin-bottom: 110px;
}

.css{
  background-color: rgb(242,246,254);
}
.jsc{
  background-color: rgb(255,253,242);
}
.foot .container{
  background-image: url(./assets/handshake.jpg);
  width: 100%;
  background-color: rgba(0,0,0,0.4); 
  background-blend-mode: overlay;
  background-position: center;
  background-size: cover;
  border-radius: 15px;
  height: 313px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}

.support-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.support-box h3{
  color: white;
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 16px;
}
.support-box p{
  color: white;
  margin-bottom: 24px;

}
.btns{
  max-width: 685px;
  display: flex;
  gap: 16px;
}
.btns input{
  width: 548px;
  padding: 20px;
  border: none;
  border-radius: 15px;
}
.support-box button{
  background-color: white;
  border: none;
  border-radius: 15px;
  font-weight: 600;
  font-size: 20px;
  padding: 20px;
}
.media p{
  font-size: 20px;
  font-weight: 600;
}
.media{
  display: flex;
  justify-content: space-between;
  padding: 32px 150px;
}
.below{
  width: 100%;
  background-color: rgb(250, 250, 251) ;
}